# Dependencies
node_modules/
package-lock.json

# frontend-side
frontend/dist/
frontend/*.log
frontend/.env
frontend/node_modules/


# backend-side
backend/dist/
backend/*.log
backend/.env
backend/node_modules/

# Build artifacts
build/
coverage/

# OS/Editor files
.DS_Store
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vscode/
.idea/

# Logs and debug files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.env
*.tmp
*.bak